<!DOCTYPE html>
<html th:replace="~{html/layout :: layout(~{::main}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">
    <head>
        <script type="module" th:src="@{/js/list.js}"></script>
    </head>
    <body>
        <main class="main">
            <form th:object="${productQuantityDto}" method="post" th:action="@{/insert}">
                <section class="main__section grid notebook">
                    <article class="category" th:each="categoryProduct, categoryProductStat : ${categoryProductDto.categoryProducts}">
                        <h2 class="nowrap" th:text="#{${'category.title.' + categoryProduct.category}}">VEGETABLES</h2>
                        <div class="item-font listitem" th:each="product,productStat : ${categoryProduct.products}">
                            <p  th:text="${product.name}">Tomato</p>
                            <div class="item-number">
                                <button class="item-number-spacing item-number__button" th:data-item="|input${categoryProduct.category}${productStat.index}|" type="button">-</button>
                                <input th:id="|input${categoryProduct.category}${productStat.index}|" class="item-number-input item-number-spacing quantity-input align_end" 
                                    type="number" th:field="*{productQuantities[__${categoryProductStat.index}__][__${productStat.index}__].quantity}">
                                <input type="hidden" th:name="|productQuantities[${categoryProductStat.index}][${productStat.index}].productId|" th:value="${product.productId}">
                                <button class="item-number-spacing item-number__button" th:data-item="|input${categoryProduct.category}${productStat.index}|" type="button">+</button>
                                <p class="item-number-spacing" th:text="#{${'additem.quantitytype.' + product.quantityType}}">Unit</p>
                                    
                            </div>
                        </div>
                    </article>

                </section>
                <p class="field-container submit-button-container">
                    <button  class="submit-button" type="submit" name="save" th:text="#{addproduct.submit}">Submit!</button>
                </p>
            </form>
        </main>
    </body>
    </html>