<!DOCTYPE html>
<html th:attr="dir=${#locale.language == 'he' ? 'rtl' : 'ltr'}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" href="../../../css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../WEB-INF/templates/css/style.css" th:href="@{/css/dynamic.css}">
    <link rel="icon" href="../../../images/grocery.ico" type="image/x-icon" th:href="@{/images/grocery.ico}">
    <title th:text="#{heading}">Shopping List</title>
</head>
<body>
    <header class="header">
        <h1 class="header__h1" th:text="#{heading}">Shopping List</h1>
        <nav class="header__nav">
            <ul class="header__ul">
                <li>
                    <a href="index.html" th:href="@{/}" th:text="#{link.home}">Home</a>
                </li>
                <li>
                    <a href="my-products.html" th:href="@{/myProducts}" th:text="#{link.myproducts}">My Products</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <form th:object="${itemsByCategory}" method="post" th:action="@{/insert}">
            <section class="list">
                <article class="category" th:each="category : *{map}">
                    <h2 class="nowrap" th:text="#{${'category.title.' + category.key}}">VEGETABLES</h2>
                    <div class="listitem" th:each="item,itemStat : ${category.value}">
                        <p class="item__name" th:text="${item.name}"></p>
                        <input class="item__quantity align_end" type="number" th:field="*{map[__${category.key}__][__${itemStat.index}__].quantity}">
                            
                    </div>
                </article>

            </section>
            <div class="center">
                <input type="submit">
            </div>
        </form>
    
    </main>
</body>
</html>