<!DOCTYPE html>
<html th:attr="dir=${#locale.language == 'he' ? 'rtl' : 'ltr'}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" href="../../../css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../WEB-INF/templates/css/style.css" th:href="@{/css/dynamic.css}">
    <link rel="icon" href="../../../images/grocery.ico" type="image/x-icon" th:href="@{/images/grocery.ico}">
    <title th:text="#{heading}">Shopping List</title>
</head>
<body>
    <header class="header">
        <h1 class="header__h1" th:text="#{heading}">Shopping List</h1>
        <nav class="header__nav">
            <ul class="header__ul">
                <li>
                    <a href="index.html" th:href="@{/}" th:text="#{link.home}">Home</a>
                </li>
                <li>
                    <a href="my-list.html" th:href="@{/mylist}" th:text="#{link.mylist}">My List</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <section id="list" class="list">
            <article class="list__category" th:each="category : ${productsByCategory}">
                <h2 class="list__h2 nowrap" th:text="#{${'category.title.' + category.key}}">VEGETABLES></h2>
                <form th:action="@{/deleteProduct}" method="get">
                    <table class="list__table">
                        <thead>
                            <tr>
                                <th scope="col" class="list__unit-header"></th>
                                <th scope="col" class="list__name-header"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="list__item" th:each="item : ${category.value}">
                                <td class="list__item-unit" th:text="#{${'additem.quantitytype.' + item.quantityType}}">Kg</td>
                                <td class="list__item-name" th:text="${item.name}">Tomatos</td>
                                <td><button name="id" th:value="${item.productId}"><img th:src="@{/images/v-sign.png}" alt=""></button></td>
                            </tr>
                            <tr class="list__item" th:remove="all">
                                <td class="list__item-unit">Kg</td>
                                <td class="list__item-name">Cucumber</td>
                                <td><button>Delete</button></td>
                            </tr>
                            <tr class="list__item" th:remove="all">
                                <td class="list__item-unit">Kg</td>
                                <td class="list__item-name">Parsley</td>
                                <td><button>Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </form>

            </article>
        </section>
    </main>
</body>
</html>