<!DOCTYPE html>
<html th:replace="~{html/layout :: layout(~{::main}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">
    <head>
        <script type="module" th:src="@{/js/dialog.js}"></script>
    </head>
    <body>        
        <main class="main">
            <section id="list" class="main__section grid notebook">
                <article class="category" th:each="category : ${productsByCategory}">
                    <h2 class="nowrap" th:text="#{${'category.title.' + category.key}}">VEGETABLES</h2>
                    <form th:action="@{/deleteProduct}" method="get">
                        <table class="category__table">
                            <thead>
                                <tr>
                                    <th scope="col" class="product-name-header" th:text="#{category.heading.name}">Name</th>
                                    <th scope="col" class="quantity-type-header" th:text="#{category.heading.quantitytype}">Unit</th>
                                    <th scope="col" class="delete-button-header"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="item-font" th:each="item : ${category.value}">
                                    <td th:text="${item.name}">Tomatos</td>
                                    <td th:text="#{${'additem.quantitytype.' + item.quantityType}}">Kg</td>
                                    <td ><button class="delete-button" name="id" th:value="${item.productId}"><img src="../../../images/delete.png" th:src="@{/images/delete.png}" alt=""></button></td>
                                </tr>
                                <tr class="item-font" th:remove="all">
                                    <td>Cucumber</td>
                                    <td>Kg</td>
                                    <td><button class="delete-button"><img src="../../../images/delete.png" alt=""></button></td>
                                </tr>
                                <tr class="item-font" th:remove="all">
                                    <td>Parsley</td>
                                    <td>Kg</td>
                                    <td><button class="delete-button"><img src="../../../images/delete.png" alt=""></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </article>
                <div class="button-container">
                    <button class="button-shared add-button" id="new-item-button">&#x271b;</button>
                </div>
            </section>
            <section id="add-form">
                <dialog>
                    <h2 class="center" th:text="#{addproduct.title}">Add Product</h2>
                    <button id="close-dialog">&#x00d7;</button>
                    <form  th:action="@{/newProduct}" method="post" th:object="${product}">
                        <fieldset>
                            
                            <ul th:if="${#fields.hasErrors('*')}">
                                <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                            </ul>

                            <p class="field-container">
                                <label class="field-label" for="name" th:text="#{addproduct.label.name}">Name</label>
                                <input class="long-input" type="text" th:field="*{name}"/>
                            </p>
                            <p class="field-container">
                                <label class="field-label" for="quantityType" th:text="#{addproduct.label.quantitytype}">Unit</label>
                                <select th:field="*{quantityType}">
                                    <option th:each="type : ${allQuantityTypes}" th:value="${type}" th:text="#{${'addproduct.quantitytype.' + type}}">Kg</option>
                                    <option th:remove="all">Unit</option>
                                </select>
                            </p>
                            <p class="field-container">
                                <label class="field-label" for="category" th:text="#{addproduct.label.category}">Category</label>
                                <select class="long-input" th:field="*{category}">
                                    <option th:each="category : ${allCategories}" th:value="${category}" th:text="#{'category.option.' + ${category}}">Vegetables</option>
                                    <option th:remove="all">Fruits</option>
                                    <option th:remove="all">Dairy</option>
                                </select>
                            </p>
                            
                            <p class="field-container submit-button-container">
                                <button  class="button-shared submit-button" type="submit" name="save" th:text="#{addproduct.submit}">Submit!</button>
                            </p>
                        
                        </fieldset>
                    </form>
                </dialog>
            </section>
        </main>
</body>
</html>