<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <button id="menu-button">MENU</button>
        <h2>Header</h2>
    </header>

    <div class="content">
        <nav id="sidebar" class="close">
            <ul>
                <li><a href="#">Option1</a></li>
                <li><a href="#">Option2</a></li>
                <li><a href="#">Option3</a></li>
                <li><a href="#">Option4</a></li>
                <li><a href="#">Option5</a></li>
                <li><a href="#">Option6</a></li>
                <li><a href="#">Option7</a></li>
                <li><a href="#">Option8</a></li>
                <li><a href="#">Option9</a></li>
                <li><a href="#">Option10</a></li>
                <li><a href="#">Option11</a></li>
                <li><a href="#">Option12</a></li>
                <li><a href="#">Option13</a></li>
            </ul>
        </nav>

        <div class="overlay" id="overlay"></div>

        <main>
            <div class="container">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam quia odit assumenda harum laborum ratione nihil, dolore id vel maxime rerum quae eveniet ipsum, similique quo iure nulla adipisci blanditiis?</div>
            <div class="container">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam quia odit assumenda harum laborum ratione nihil, dolore id vel maxime rerum quae eveniet ipsum, similique quo iure nulla adipisci blanditiis?</div>
            <div class="container">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam quia odit assumenda harum laborum ratione nihil, dolore id vel maxime rerum quae eveniet ipsum, similique quo iure nulla adipisci blanditiis?</div>
            <div class="container">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam quia odit assumenda harum laborum ratione nihil, dolore id vel maxime rerum quae eveniet ipsum, similique quo iure nulla adipisci blanditiis?</div>
            <div class="container">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam quia odit assumenda harum laborum ratione nihil, dolore id vel maxime rerum quae eveniet ipsum, similique quo iure nulla adipisci blanditiis?</div>
            <div class="container">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam quia odit assumenda harum laborum ratione nihil, dolore id vel maxime rerum quae eveniet ipsum, similique quo iure nulla adipisci blanditiis?</div>
        </main>
    </div>

    <script src="main.js"></script>
</body>
</html>