<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      display: grid;
      grid-template-rows: auto 1fr;
    }

    header {
      border-bottom: 1px solid black;
      height: 3rem;
    }

    .content {
      display: grid;
      grid-template-columns: auto 1fr;
    }

    aside {
      width: 200px;
      border-right: 1px solid black;
    }

  </style>
</head>
<body>
  <header>HEADER</header>
  <div class="content">
    <aside>SIDEBAR</aside>
    <main>MAIN</main>
  </div>

</body>
</html>