@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* || VARIABLES */
:root {
    --BASE-COLOR: #11121a;
    --LINE-COLOR: #42434a;
    --HOVER-COLOR: #222533;
    --TEXT-COLOR: #e6e6ef;
    --ACCENT-COLOR: #5e63ff;
    --SECONDARY-TEXT-COLOR: #b0b3c1;
    --HEADER-HEIGHT: 4rem;
    --SIDEBAR-WIDTH: 250px;
    --SAVE-BUTTON-COLOR: rgb(26, 216, 26);
    --SAVE-BUTTON-HOVER-COLOR: rgb(17, 128, 17);
}

/* || RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button,
select,
textarea {
    font: inherit;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--TEXT-COLOR);
}

html {
    font-family: Poppins, 'Segoe UI', sans-serif;
    line-height: 1.5rem;
    background-color: white;
}

body {
    background-color: var(--BASE-COLOR);
    color: var(--TEXT-COLOR);
}

html, body {
    height: 100%;
}

ul {
    list-style-type: none;
}


/* || UTILITY */

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.padding-1rem {
    padding: 1rem;
}

.flex-1 {
    flex-grow: 1;
}

.round-borders {
    border-radius: 10px;
}

.padding-1 {
    padding: 1rem;
}

.absolute-bottom-center {
    position: absolute;   
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.delete-button {
    color: #d32f2f; ;
    background-color: transparent;
    border: 1px solid currentColor;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: grid;
    place-items: center;
}

.delete-button:hover {
    color: #b71c1c;
}

.top-corner-button {
    position: absolute;
    inset-inline-end: 5px;
    top: 5px;
}

.save-button {
    background-color: var(--SAVE-BUTTON-COLOR);

    &:hover {
        background-color: var(--SAVE-BUTTON-HOVER-COLOR);
    }

    &:disabled {
        background-color: #b0b3c1;
    
    
    }
}

.error-banner {
    display: none;
    background-color: #fee2e2;
    border-left: 4px solid #ef4444;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    color: #991b1b;
}

.field-error {
    border-color: red;
}