

main {
    position: relative;
}

/* CATEGORY GRID */


.category-grid {
    display: grid;
    align-content: start;
    grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
    gap: 20px;
    justify-content: space-around;
    padding-bottom: 100px;
    overflow: auto;
    height: 100%;
    
}

.category {
    background-color: var(--category-bg-color);
    border: 1px solid var(--category-border-color);
    padding: 1rem;
    > h2 {
        margin-bottom: 2rem;
        color: var(--category-title-color);
    }

    > ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.category ul {
    width: 100%;
}

.category-item {
    display: flex;
    flex-direction: row;
    gap: 3px;
    
}

.item-quantity {
    width: max-content;
    text-align: center;
    color: var(--category-item-secondary-color);
    font-size: 0.8rem;
}

.item-quantity-type {
    color: var(--category-item-secondary-color);
    min-width: max-content;
    text-align: center;
    font-size: 0.8rem;
}

.item-name {
    flex: 1;
    color: var(--category-item-name-color);
    padding-inline-start: .5rem;
}

.big-add-button { 
    font-size: 3rem;
    padding: 2rem;
    border-radius: 50%;
}
