

main {
    position: relative; /* for the FAB */
}

/* CATEGORY GRID OVERRIDES */
.category-grid .item-name {
    padding-inline-start: .5rem;
}

.checkbox-container {
    /* in order to align the checkbox and text in the same height, display flex*/
    display: flex;
    align-items: center;
}

.checkbox-container label {
    /* so that we'll see the label clickable */
    cursor: pointer;

    /* in order for the label::before width will be respected, the display must not be inline (which is the default) */
    display: flex;
}

.checkbox-container input[type="checkbox"] {
    /* we want the default checkbox icon  to disappear and create our own */
    appearance: none;
}

/* this will create our own checkbox icon */
.checkbox-container label::before {
    content: '';
    /* 1em will make it the same size as our font-size */
    width: 1rem;
    height: 1rem;
    border: 0.05em solid var(--color-border-strong);
    border-radius: 2px;
    margin-right: .5rem;
}

/* hover effect */
.checkbox-container label:hover::before {
    background-color: var(--color-green-100);
    border-color: var(--color-green-400);
}

.checkbox-container input[type="checkbox"]:checked + label::before {
    content: '\002714';
    background-color: var(--color-green-400);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ADD ITEM DIALOG*/

.quantity-control {
    display: grid;
    grid-template-columns: 90px 100px;
    gap: 10px;
    align-items: center;
}

.qty-control > input,
.qty-control > select{
  width: 100%;
  /* box-sizing: border-box; */
}