

main {
    position: relative; /* for the FAB */
    padding: 0;
}

.categories-scroll-container {
    padding: var(--main-padding);
}

/* CATEGORY GRID OVERRIDES */
.category-grid {
    padding-bottom: calc(var(--primary-fab-size) + var(--primary-fab-absolute-pos-bottom) + 5px);
}

.category-grid .category > ul {
    grid-template-columns: max-content max-content max-content 1fr;
}

.category-grid .item-name {
    padding-inline-start: .5rem;
}

.checkbox-container {
    /* in order to align the checkbox and text in the same height, display flex*/
    /* display: flex;
    align-items: center; */
}

.checkbox-container label {
    /* so that we'll see the label clickable */
    cursor: pointer;

    /* in order for the label::before width will be respected, the display must not be inline (which is the default) */
    display: inline-flex;
}

.checkbox-container input[type="checkbox"] {
    /* we want the default checkbox icon  to disappear and create our own */
    appearance: none;
}

/* this will create our own checkbox icon */
.checkbox-container label::before {
    content: '';
    /* 1em will make it the same size as our font-size */
    width: 1rem;
    height: 1rem;
    border: 0.05em solid var(--color-border-strong);
    border-radius: 2px;
    margin-top: 0.2rem;
}

/* hover effect */
.checkbox-container label:hover::before {
    background-color: var(--color-green-100);
    border-color: var(--color-green-400);
}

.checkbox-container input[type="checkbox"]:checked + label::before {
    content: '\002714';
    background-color: var(--color-green-400);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ADD ITEM DIALOG*/

.quantity-control {
    display: grid;
    grid-template-columns: 90px 100px;
    gap: var(--space-3);
    align-items: center;
}