
main {
    padding: 0;
}

main > header {
    position: relative;
    border-bottom: 1px solid var(--LINE-COLOR);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    h1 {
        text-align: center;
    }

    .actions {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        inset-inline-end: 40px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        button {
            background-color: transparent;
            border: none;
        }
    }
}

.category-grid {
    padding: 1rem;
}


.insert-button {
    width: 150px;
    height: 70px;
    border-radius: 5px;
}

.error-banner {
    padding: 1rem;
    margin: 0 20px 20px 20px;

    display: none;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    
    background-color: #442222; /* Dark red to match your dark theme */
    border: 1px solid #ff4444;
    color: #ffcccc;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
}

.error-banner.active {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}