
main {
    padding: 0;
}

.step-wrapper {
    height: 100%;
    display: grid;
    flex-direction: row;
    padding: 0;

    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "head head"
        "catalog selected"
    ;
}

.step-wrapper header {
    grid-area: head;
    border-bottom: 1px solid var(--LINE-COLOR);
    height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-right: 3rem;
    padding-left: 3rem;

    > .title {
        flex: 1 0 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    > .name {
        flex: 1 0 0;
        display: flex;
        align-items: center;
        

        input[type="text"] {
            padding: 10px;
        }
    }

    > .actions {
        flex: 1 0 0;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        > button {
            height: 50px;
            width: 150px;
            border-radius: 5px;
        }

    }
}

#catalog {
    grid-area: catalog;

    padding: 1rem;
    padding-bottom: 100px;
    border-right: 1px solid var(--LINE-COLOR);
}

#selected-section {
    grid-area: selected;
    padding: 1rem;
    
    > h1 {
        display: none;
    }

    > ul {
        display: flex;
        flex-direction: column;
        gap: 20px;

        > li h3 {
            margin-bottom: 10px;
        }
    }

    #save-button-mobile {
        display: none;
    }

}


.insert-button {
    width: 150px;
    height: 70px;
    border-radius: 5px;
}

.step-actions {
    display: none;
}

.category-item input[type="checkbox"] {
    appearance: none;

    &:checked + label {
        font-weight: bold;
    }
}

@media(max-width: 768px) {

    main {
        --num-steps: 3;
        --current-step: 0;
        overflow-x: hidden;

        display: flex;
        flex-direction: column;
    }

    .step-wrapper {
        flex-grow: 1;

        width: calc(var(--num-steps) * 100%);
        display: flex;
        flex-direction: row;

        transform: translateX(calc(-1 * (100% / var(--num-steps)) * var(--current-step)));
        transition: transform 1s;

        overflow: auto;

    }

    .step-actions {
        display: flex;
        flex-direction: column;
        
        button {
            position: relative;
            height: 3rem;
        }

        span {
            opacity: 0;
            position: absolute;
            inset: 0;
            display: grid;
            place-content: center;
            transition: opacity 0.3s;
            transition-delay: 0.3s;
        }

        .current {
            opacity: 1;
        }

    }

    .step {
        width: calc(100% / var(--num-steps));
        height: 100%;
        padding: 1rem;
    }

    .step-wrapper header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        h1, p {
            text-align: center;
        }

    }

    header.step .name {
        flex-grow: 1;
    }

    header.step .title {
        flex-grow: 0;
    }

    header.step .actions {
        display: none;
    }

    #selected-section {
        display: flex;
        flex-direction: column;
        
        > h1 {
            display: block;
            text-align: center;
            margin-bottom: 1rem;
        }
        
        > ul {
            flex-grow: 1;
        }

        padding-bottom: 100px;

        #save-button-mobile {
            display: block;
        }
    }
}

#error-message-details {
    list-style-type: circle;
}