
.kebab-menu {
    position: relative;
}

.kebab-menu-actions {
    position: absolute;
    top: calc(100% + 8px);
    right: 0;
    pointer-events: none;
    opacity: 0;
    transform: translateY(-4px);
    transition: all 0.2s;
    z-index: 999;
    pointer-events: none;
}


.kebab-menu.kebab-show .kebab-menu-actions {
    pointer-events: auto;
    opacity: 1;
    transform: translateY(0);
}