
.content {
    z-index: 10;
    position: relative;
    display: grid;
    
    grid-template-columns: auto 1fr;
    grid-template-areas: "sidebar main";
}


main {
    grid-area: main;
    overflow: auto;
}


#sidebar {
    grid-area: sidebar;
    
    width: var(--sidebar-width);
    border-right: 1px solid var(--color-layout-border);
    background: linear-gradient(135deg, var(--color-sidebar-gradient-start) 0%, var(--color-sidebar-gradient-end) 100%);
    color: var(--color-sidebar-item-text);

    transition: 300ms ease-in-out;

    /* flex to arrange the tenant card and the menu (nav) */
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#tenant-card {
    color: var(--color-tenant-card-text-primary);
    border: 1px solid var(--color-tenant-card-border);
    border-radius: 10px;
    background-color: var(--color-tenant-card-bg);
    margin: var(--sidebar-tenant-card-margin);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    padding: var(--sidebar-tenant-card-padding);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--sidebar-tenant-card-gap);
}

.current-tenant {
    font-weight: 600;
}

.switch-tenant {
    > a {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--sidebar-tenant-card-switch-tenant-gap);
        color: var(--color-tenant-card-text-secondary);
        font-size: 0.8rem;
    }
}

#sidebar nav {
    padding: var(--sidebar-menu-padding);
    flex-grow: 1;

    /* flex to arrange the main menu and the Manage Tenant link which is separate */
    display: flex;
    flex-direction: column;
}

#sidebar nav ul {
    list-style-type: none;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    gap: var(--sidebar-menu-gap);
}

#sidebar .menu-item a, #sidebar .menu-item .dropdown-button {
    border-radius: 0.5em;
    display: flex;
    text-decoration: none;
    color: var(--color-sidebar-item-text);
    align-items: center;
    padding: var(--sidebar-menu-item-padding-tb) var(--sidebar-menu-item-padding-rl);
    gap: var(--sidebar-menu-item-gap); /* to separate the icon from the text */
}

#sidebar .menu-item a:hover, #sidebar .menu-item .dropdown-button:hover {
    background-color: var(--color-sidebar-item-bg-hover);
}

/* setting a different style to the active tab */
#sidebar .menu-item.active a {
    background-color: var(--color-sidebar-item-bg-active);
    font-weight: 600;
    color: var(--color-sidebar-item-text-active);

    svg {
        fill: var(--color-sidebar-item-text-active);
    }
}

/* since the dropdown button is a button, we need some styles to make it look like the <a> elements */
#sidebar .menu-item > button {
    width: 100%;
    text-align: start;
    background: none;
    border: none;
    cursor: pointer;
    flex-shrink: 0;
}

#sidebar nav svg {
    flex-shrink: 0; /* avoid distortions something ... ?*/
    fill: var(--color-sidebar-item-text);
}

#sidebar .menu-item span {
    /* so that the span will take all the available space, pushing the other flex elements to the sides 
    so that the little button of the Create item will be in the end of the line */ 
    flex-grow: 1;
}


/* || SUB MENU OPEN AND CLOSE */

/* this is a trick to open and close the sub-menu with transition, meaning smooth open and close and not at once */
#sidebar .sub-menu {
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;
    margin-top: var(--sidebar-menu-gap);

    > div {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: var(--sidebar-menu-gap);
    }
}

#sidebar .sub-menu.show {
    grid-template-rows: 1fr;
}

/* the drop-down menu arrow rotated */
.dropdown-button svg {
    transition: 200ms ease;
}

.rotate svg:last-child {
    rotate: 180deg;
}

/* have the submenu items idented */
#sidebar .sub-menu a {
    padding-inline-start: var(--sidebar-submenu-item-padding-tb);
}


#overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 999;
    
    background: var(--color-overlay-bg);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* || MOBILE SCREEN */


@media (max-width: 768px) {

    #sidebar {
        position: absolute;
        top: 0;
        inset-inline-start: 0;
        bottom: 0;
        
        transition: transform 0.3s ease-in-out;
        box-shadow: 2px 0 10px rgba(0,0,0,0.1);
        z-index: 1000; /* be on top of overlay */
    }

    #sidebar:dir(ltr) {
        transform: translateX(-100%);
    }

    #sidebar:dir(rtl) {
        transform: translateX(100%);
    }

    #sidebar.show {
        transform: translateX(0);
    }

    #overlay.active {
        opacity: 0.3;
        visibility: visible;
    }
}
