
main {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 80%;
    height: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed green;
}

.display-contents {
    display: contents;
}