
main {
    position: relative; /* for the FAB */
    padding: 0;
}

.categories-scroll-container {
    padding: var(--main-padding);
}

.category-grid {
    padding-bottom: calc(var(--primary-fab-size) + var(--primary-fab-absolute-pos-bottom) + 5px);
}

.category-grid .category > ul {
    grid-template-columns: 1fr max-content max-content;
}

.product-popover.opened .ui-popover-menu {
    display: flex;
}

.product-popover {
    
    .ui-popover-trigger {
        transform: translateY(0.2rem);
        border-radius: 50%;
        border: 1px solid var(--color-text-muted);
        width: 1rem;
        aspect-ratio: 1/1;
        background: transparent;
        display: grid;
        place-content: center;

        svg {
            fill: var(--color-text-muted);
            width: 0.7rem;
            height: 0.7rem;
        }
    }

    .ui-popover-menu {
        top: calc(100% + 8px);
        inset-inline-end: 0;
    }
    
    .menu-item.delete-button {
        color:var(--color-danger-primary);
        svg {
            fill: var(--color-danger-primary);
        }
    }
    
    .menu-item.delete-button:hover { 
        background-color: var(--color-danger-hover-light);
    }
}

