

main {
    position: relative; /* for the FAB */
}

.kebab-menu-button {
    border-radius: 50%;
    border: 1px solid var(--color-text-muted);
    width: 1.25rem;
    height: 1.25rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    
    svg {
        fill: var(--color-text-muted);
        width: 1rem;
        height: 1rem;
    }

    margin-inline-start: 20px;
}

.delete-button {
    color:var(--color-text-delete);
    svg {
        fill: var(--color-text-delete);
    }
}

.delete-button:hover { 
    background-color: var(--color-background-delete);
}

