

main {
    padding: 1rem;
    padding-bottom: 5rem;
    caret-color: transparent;
}

/* CATEGORY GRID */

.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 500px);
    gap: 20px;
}

.category {
    border: 1px solid white;
    padding: 1rem;
    > h2 {
        margin-bottom: 2rem;
    }
}

.category ul {
    width: 100%;
}

.category-item {
    display: flex;
    flex-direction: row;
    line-height: 2;
}


.item-quantity-type {
    min-width: 3rem;
}

.item-name {
    flex: 1;
    > span {
        cursor: pointer;
    }
}



/* MODAL DIALOG */

.modal-dialog:modal {
    position: relative;
    border-radius: 16px;
    margin: auto;
    width: 50vw;
    height: 50vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;

    > h2 {
        text-align: center;
        margin: 1rem;
    }

    > #close-modal {
        position: absolute;
        left: 10px;
        top: 10px;
        border: none;
        border-radius: 50%;
        background-color: transparent;
        font-size: 2rem;
    }

    #submit-button {
        border: none;
        padding: 1rem;
        font-size: 1.5rem;
        font-weight: 500;
        cursor: pointer;
        border-radius: 10px;
        background-color:aquamarine;
    }

    > form {
        flex-grow: 1;
    }

    .inputs {
        height: 100%;
    }
}

.modal-dialog:modal.confirmation-modal {
    height: 25vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    form {
        flex-grow: unset;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        button {
            width: 5rem;
            padding: 1rem;
            display: grid;
            place-content: center;
        }

        button:last-child {
            background-color: transparent;
            color: black;
        }
    }
}

.field-container {
    margin: 1rem 0;

    > label {
        display: block;
        font-weight: bold;
    }

    input, select {
        border-radius: 5px;
        padding: 0.25rem;
        padding-inline-start: 1rem;
        line-height: 1rem;
    }
}

.long-input {
    width: 50%;
}

/* ADD BUTTON */


.add-button {
    position: fixed;
    bottom: 20px;
    right: 50%;
    font-size: 3rem;
    padding: 2rem;
    border-radius: 50%;
}