@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Wittgenstein:ital,wght@0,400..900;1,400..900&family=Zain:wght@200;300;400;700;800;900&display=swap');


/* || RESET */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
select,
textarea {
    font: inherit;
    border-radius: 5px;
}

/* || VARIABLES */

:root {
    /* FONT */
    --FS: clamp(1rem, 2.2vh, 1.5rem);
    
    /* COLORS */
    --BG-COLOR: #fff;
    --BODY-BGCOLOR: #fffec1;
    
    --NAV-BGCOLOR: rgba(32, 5, 0, 0.74);
    --HEADER-BGCOLOR: #fffedf;
    --BORDER-COLOR: #333;
    
    --LINK-COLOR: #fff;
    --LINK-HOVER: hsla(0, 0%, 0%, 0.6);
    
    --FONT-COLOR: #000;
    --LIST-FONT-COLOR: rgb(0, 45, 112);
    --MENU-FONT-COLOR: var(--HEADER-BGCOLOR);

    /* BORDERS */
    --BORDERS: 1px solid var(--BORDER-COLOR);

    /* PADDING */
    --PADDING-TB: 0.25em;
    --PADDING-SIDE: 2.5%;
    --PADDING-SECTION: clamp(1em, 2.2vh, 1.5em) 0;

    /* STANDARD MARGIN */
    --MARGIN: clamp(1em, 2.2vh, 1.5em) 0;
}


/* || GENERAL STYLES */

html {
    font-size: var(--FS);
    font-family: var(--FF);
    background-color: var(--BG-COLOR);
    color: var(--FONT-COLOR);
    background-color: var(--BG-COLOR);
}


/**/



body {
    background-color: var(--BODY-BGCOLOR);
    min-height: 100vh;
    max-width: 1000px;
    margin: 0 auto;
    border-left: var(--BORDERS);
    border-right: var(--BORDERS);
    box-shadow: 0 0 10px var(--BORDER-COLOR);
}


h1 {
    font-family: var(--FF-H1);
}

h2, h3 {
    font-family: var(--FF-H2);
    margin-bottom: 1em;
}

a:any-link {
    font-family: var(--FF-MENU);
    color: var(--LINK-COLOR);
}

a:hover,
a:focus-visible {
    color: var(--LINK-HOVER);
}

a:active {
    color: var(--LINK-ACTIVE);
}

/* || UTILITY CLASSES */

.offscreen {
    position: absolute;
    left: -10000px;
}

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}


/* || GENERAL CLASSES */

/* Submit button */

.submit-button {
    background: #f08a36;
    color: #fff;
    border: none;
    font-size: inherit;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    
}

.submit-button:hover {
	background: #d16a15;
}

.submit-button:active {
	background: #d16a15;
	top: 2px;
}

.submit-button:before {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 3;
	font-size: 140%;
	width: 60px;
}

.submit-button-container {
    display: flex;
    justify-content: space-evenly;
}


/* Fields */

.field-container {
    margin: 1rem 0;
    font-family: var(--FF-FIELD-LABEL);
}

.long-input {
    width: 200px;
}


.field-label {
    display: block;
    font-weight: bold;
}

/* || HEADER */

.header {
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 6px 5px -5px var(--BORDER-COLOR);
    background-color: var(--HEADER-BGCOLOR);
}

.header__title {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    background-image: radial-gradient(transparent, var(--BODY-BGCOLOR));
}

.header__h1 {
    flex-grow: 1;
    text-align: center;
}

.header__image { 
    max-width: 70px;
    height: auto;
}


.header__nav {
    font-family: var(--FF-MENU);
    background-color: var(--NAV-BGCOLOR);
    color: var(--MENU-FONT-COLOR);
    padding: .5em;
}
 
.header__ul {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

.header__ul li a {
    text-decoration: none;
}

/* || MAIN */

.main {
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
}

.main__section {
    padding: var(--PADDING-SECTION);
}


/* || LIST PAGE */

.list {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fit, 300px);
    gap:  0.5em 0.1em;
    min-height: 50vh;

    background-color: #fffec1;
    background-image: repeating-linear-gradient(transparent 0 20px, #002e6a4d 20px 21px);

}


.listitem {
    display: flex;
    justify-content: space-between;
}

/* || ITEM */

.item__name {
    font-family: var(--FF-ITEM);
}

.item__quantity {
    width: 5ch;
}

.align_end {
    margin-right: auto;
}

/* || CATEGORY */

.category {
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
    color: var(--LIST-FONT-COLOR);
}

.category h2 {
    margin-bottom: 0.5em; /* I want a smaller bottom margin */
}

.category__table {
    table-layout: fixed;
    width: 100%;
}

.quantity-header {
    width: 2ch;
}

.quantity-type-header {
    width: 4ch
}

.delete-button-header {
    width: 3ch;
}

.category__table th {
    text-align: start;
    padding: 10px 0px;
}

.category__table td {
    vertical-align: top;
}


.category__item img {
    max-height: var(--FS);
}

.category__item {
    font-family: var(--FF-LIST-ITEM);
}

.delete-button {
    border: none;
    background-color: transparent;
}

/* || FORM */

.additem {
    margin: var(--MARGIN);
}

.additem__fieldset {
    border: none;
}

.additem input,
.additem select,
.additem__button {
    padding: 0.25em;
    padding-inline-start: 0.25em;
    line-height: 1rem;
}



