@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Wittgenstein:ital,wght@0,400..900;1,400..900&family=Zain:wght@200;300;400;700;800;900&display=swap');


/* || RESET */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
select,
textarea {
    font: inherit;
}

fieldset {
    border: none;
}

/* || VARIABLES */

:root {
    /* SIZES */
    --BODY-MAX-WIDTH: 1000px;

    /* FONT */
    --FS: clamp(1rem, 2.2vh, 1.5rem);
    
    /* COLORS */
    --DEEP-BLUE: rgb(0, 45, 112);
    --DEEP-BLUE-OPACITY: rgba(0, 45, 112, 0.356);

    --BG-COLOR: #fff;
    --BODY-BGCOLOR: #fffec1;
    
    --NAV-BGCOLOR: rgba(32, 5, 0, 0.74);
    --HEADER-BGCOLOR: #fffedf;
    --DIALOG-BGCOLOR: #fffa63;
    --BORDER-COLOR: #333;
    
    --LINK-COLOR: #fff;
    --LINK-HOVER: hsla(0, 0%, 0%, 0.6);
    
    --FONT-COLOR: #000;
    --LIST-FONT-COLOR: var(--DEEP-BLUE);
    --MENU-FONT-COLOR: var(--HEADER-BGCOLOR);

    /* BORDERS */
    --BORDERS: 1px solid var(--BORDER-COLOR);

    /* PADDING */
    --PADDING-TB: 0.25em;
    --PADDING-SIDE: 2.5%;
    --PADDING-SECTION: clamp(1em, 2.2vh, 1.5em) 0;

    /* STANDARD MARGIN */
    --MARGIN: clamp(1em, 2.2vh, 1.5em) 0;
}


/* || GENERAL STYLES */

html {
    font-size: var(--FS);
    font-family: var(--FF);
    color: var(--FONT-COLOR);
    background-color: var(--BG-COLOR);
}


body {
    background-color: var(--BODY-BGCOLOR);
    min-height: 100vh;
    max-width: var(--BODY-MAX-WIDTH);
    margin: 0 auto;
    border-left: var(--BORDERS);
    border-right: var(--BORDERS);
    box-shadow: 0 0 10px var(--BORDER-COLOR);
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}


h1 {
    font-family: var(--FF-H1);
}

h2, h3 {
    font-family: var(--FF-H2);
    margin-bottom: 1em;
}

a:any-link {
    font-family: var(--FF-MENU);
    color: var(--LINK-COLOR);
}

a:hover,
a:focus-visible {
    color: var(--LINK-HOVER);
}

a:active {
    color: var(--LINK-ACTIVE);
}

/* || UTILITY CLASSES */

.offscreen {
    position: absolute;
    left: -10000px;
}

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

.item-font {
    font-family: var(--FF-LIST-ITEM);
}

.notebook {
    background-image: repeating-linear-gradient(transparent 0px 20px, var(--DEEP-BLUE-OPACITY) 20px 21px);
    background-size: 100% 21px;
}

/* || HEADER */

.header {
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 6px 5px -5px var(--BORDER-COLOR);
    background-color: var(--HEADER-BGCOLOR);
}

.header__title {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    background-image: radial-gradient(transparent, var(--BODY-BGCOLOR));
}

.header__h1 {
    flex-grow: 1;
    text-align: center;
}

.header__image { 
    max-width: 70px;
    height: auto;
}

.header__user {
    max-width: 30px;
    height: auto;
}


.header__nav {
    font-family: var(--FF-MENU);
    background-color: var(--NAV-BGCOLOR);
    color: var(--MENU-FONT-COLOR);
    padding: .5em;
}
 
.header__ul {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

.header__ul li a {
    text-decoration: none;
}


/* || MAIN */

.main {
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
}

.main__section {
    padding: var(--PADDING-SECTION);
    flex-grow: 1;
    position: relative;
    margin-bottom: 5em;
}


/* || GRID */

.grid {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fit, 300px);
    gap:  0.5em 0.1em;
}

/* || DIALOG */
dialog {
    width: calc(var(--BODY-MAX-WIDTH) / 2);
    margin: auto;
    position: relative;
    padding: 1em;
    border: none;
    border-radius: 15px;
    background-image: radial-gradient(var(--BODY-BGCOLOR), var(--DIALOG-BGCOLOR));
    box-shadow: 0 0 10px black;
}

.example {
    height: 200px;
    background-color: purple;
    width: 50%;

}

#close-dialog {
    position: absolute;
    left: 5px;
    top: 5px;
    border: none;
    border-radius: 50%;
    font-size: 2rem;
    background-color: transparent;
}

/* || FORM FIELDS */

.field-container {
    margin: 1rem 0;
    font-family: var(--FF-FIELD-LABEL);
}

.field-container input, .field-container select {
    border-radius: 5px;
    padding: 0.25em 0;
    padding-inline-start: 0.25em;
    line-height: 1rem;
}

.long-input {
    width: 200px;
}


.field-label {
    display: block;
    font-weight: bold;
}

.quantity-input {
    width: 5ch;
}


/* || ADD BUTTON */


.button-container {
    position: fixed;
    bottom: 20px;
    inset-inline-start: 50%;
    transform: translateX(-50%);
}

html[dir="rtl"] .button-container {
    transform: translateX(50%);
}

.button-shared {
    background: #f08a36;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
    box-shadow: 0 0 10px black;
}

.button-shared:hover {
	background: #d16a15;
    transform: scale(1.1);
}

.button-shared:active {
	background: #d16a15;
	top: 2px;
}

.button-shared:before {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 3;
	font-size: 140%;
	width: 60px;
}

/* || ADD BUTTON */

.add-button {
    font-size: 1.5rem;
    padding: 0.75rem 1.25rem;
    border-radius: 50%;
    
}

/* || SUBMIT BUTTON */

.submit-button {
    font-size: inherit;
    padding: 1em;
    display: inline-block;
    margin: auto;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    border-radius: 5px;
}

.submit-button-container {
    display: flex;
    justify-content: space-evenly;
}


/* || FIXED LIST PAGE */


.listitem {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.item-number {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.item-number__button {
    border: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: 900;
    cursor: pointer;
}

.item-number-spacing {
    margin: 0 0.1rem;
}

.item-number-input {
    max-height: 1.5rem;
}

/* || CATEGORY */

.category {
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
    color: var(--LIST-FONT-COLOR);
}

.category h2 {
    margin-bottom: 0.5em; /* I want a smaller bottom margin */
}

.category__table {
    table-layout: fixed;
    width: 100%;
}


.category__table th {
    text-align: start;
    padding: 10px 0px;
}

.category__table td {
    vertical-align: top;
}

.category__item img {
    max-height: var(--FS);
}

.delete-button {
    border: none;
    background-color: transparent;
}

/* headers */

.quantity-header {
    width: 2ch;
}

.quantity-type-header {
    width: 4ch
}

.delete-button-header {
    width: 3ch;
}

