<!DOCTYPE html>
<html lang="en" dir="ltr">
<head th:include="~{layout :: head(~{::link},~{})}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/dialogs.css}">
    <link rel="stylesheet" th:href="@{/css/categories.css}">
    <link rel="stylesheet" th:href="@{/css/add-fixed-list.css}">
</head>
<body th:replace="~{layout :: layout(~{::main},~{::script})}">
    <main>
        <section id="category-list-wrapper">
            <section id="list" class="category-grid">
                <article class="category" th:each="category: ${productsByCategory}">
                    <h2 th:text="#{${'category.title.' + category.key}}">CATEGORY NAME</h2>
                    <ul>
                        <li class="category-item" th:each="product : ${category.value}">
                            <input class="product-checkbox" th:attr="data-category=${category.key}" th:id="${product.productId}" type="checkbox">
                            <label th:for="${product.productId}" th:text="${product.name}">PRODUCT NAME</label>
                        </li>
                    </ul>
                </article>
            </section>
            <button id="add-item-button" class="absolute-bottom-center insert-button">INSERT</button>
        </section>
        <section id="selected-section">
            <ul id="selected-list">

            </ul>
        </section>
    </main>
    <script th:src="@{/js/add-fixed-list.js}"></script>
</body>
</html>