<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::link},~{},~{::main},~{::script})}">
    <head>
        <title>Document</title>
        <meta name="listId" th:content="${fixedList.id}">
        <meta name="tenantId" th:content="${tenant.id}">
        
        <link rel="stylesheet" href="../../css/base.css" th:href="@{/css/base.css}">
        <link rel="stylesheet" href="../../css/offline.css">
        <link rel="stylesheet" href="../../css/dialogs.css" th:href="@{/css/dialogs.css}">
        <link rel="stylesheet" href="../../css/kebab-menus.css" th:href="@{/css/kebab-menus.css}">
        <link rel="stylesheet" href="../../css/categories.css" th:href="@{/css/categories.css}">
        <link rel="stylesheet" href="../../css/fixed-list.css" th:href="@{/css/fixed-list.css}">
    </head>
    <body>
        <div class="wrapper" th:remove="tag">
            <main>
                <header>
                    <div id="header-title">
                        <h1 th:text="${fixedList.name}">LIST NAME</h1>
                        <p class="header-meta"><span th:text="${#maps.size(productsByCategory)}">3</span> categories • <span th:text="${#arrays.length(fixedList.products)}">6</span> items</p>
                    </div>
                    <div class="actions">
                        <button id="insert-button" class="action-button primary-action-button" form="list">Add Items</button>
                        <div class="kebab-menu js-kebab-menu">
                            <button class="kebab-menu-button js-kebab-menu-button"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#0000000"><path d="M480-160q-33 0-56.5-23.5T400-240q0-33 23.5-56.5T480-320q33 0 56.5 23.5T560-240q0 33-23.5 56.5T480-160Zm0-240q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm0-240q-33 0-56.5-23.5T400-720q0-33 23.5-56.5T480-800q33 0 56.5 23.5T560-720q0 33-23.5 56.5T480-640Z"/></svg></button>
                            <div class="kebab-menu-actions js-kebab-menu-actions">
                                <a class="kebab-menu-item" href="#" th:href="@{/tenant/{tenantId}/lists/edit/{listId}(tenantId=${tenant.id},listId=${fixedList.id})}">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 -960 960 960" width="36px" fill="#ffffff"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/></svg>
                                    <span>Edit</span>
                                </a>
                                <button class="kebab-menu-item delete-button" id="delete-button">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 -960 960 960" width="36px" fill="#ffffff"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>
                                    Delete
                                </button>
                            </div>
                        </div>
                    </div>
                    
                </header>
                <div id="error-banner" class="error-banner">
                    <span>Server Error: Could not save your list. Please try again.</span>
                    <button type="button" id="close-error-banner-button" class="close-btn">&times;</button>
                </div>
                <form id="list">
                    <section class="category-grid">
                        <article class="category" th:each="category : ${productsByCategory}">
                            <h2 th:text="#{${'category.title.' + category.key}}">VEGETABLES</h2>
                            <ul>
                                <li th:each="product : ${category.value}">
                                    <p class="item-name"><span th:text="${product.name}">PRODUCT NAME</span></p>
                                    <div class="js-stepper stepper">
                                        <button type="button" disabled class="js-decrement-button decrement-button">-</button>
                                        <input readonly class="js-quantity-input quantity-input" type="number" th:id="'product-' + ${product.productId}" value="0">
                                        <button type="button" class="js-increment-button increment-button">+</button>
                                    </div>
                                    <p class="quantity-type-pill" th:text="${product.quantityType}">Kg</p>
                                </li>
                            </ul>
                        </article>
                    </section>
                </form>
                <dialog id="delete-confirmation-dialog" class="confirmation-dialog delete-confirmation-dialog">
                    <div class="dialog-body">
                        <p>This will delete this list</p>
                    </div>
                    <div class="dialog-footer">
                        <div class="dialog-footer-controls">
                            <button class="dialog-action-button dialog-secondary-action-button js-close-dialog-button">Cancel</button>
                            <form method="post" th:action="@{/tenant/{tenantId}/lists/{listId}(tenantId=${tenant.id},listId=${fixedList.id})}">
                                <input type="hidden" name="_method" value="delete">
                                <button class="dialog-action-button dialog-primary-action-button delete-button" type="submit">Delete</button>
                            </form>
                        </div>
                    </div>
                </dialog>
            </main>
        </div>
        <script type="module" src="../../js/dialogs.js" th:src="@{/js/dialogs.js}"></script>
        <script type="module" src="../../js/kebab-menus.js" th:src="@{/js/kebab-menus.js}"></script>
        <script type="module" src="../../js/fixed-list.js" th:src="@{/js/fixed-list.js}"></script>
    </body>
</html>