<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" href="../../css/style.css" th:href="@{/css/style.css}"/>
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Grocery List</h1>
    </header>
    <main class="main">

        <section id="list" class="list">
            <article class="category" th:each="category : ${itemsByCategory}">
                <h2 th:text="${category.key.displayName}">Vegetables</h2>
                <table class="grocery-table">
                    <tbody>
                        <tr th:each="item: ${category.value}">
                            <td th:text="${item.quantity}">3</td>
                            <td th:text="${item.quantityType.displayName}">Kg</td>
                            <td th:text="${item.name}">Apples</td>
                        </tr>
                    </tbody>
                </table>
            </article>
            
        </section>
        <section id="add_form">
            <form th:action="@{/newItem}" method="post" th:object="${item}">
                <fieldset>
                    <legend>Add Item</legend>

                    <div>
                        <label for="name">Name</label>
                        <input type="text" th:field="*{name}"/>
                    </div>
                    <div>
                        <label for="category">Category</label>
                        <select th:field="*{category}">
                            <option th:each="category : ${allCategories}" th:value="${category}" th:text="${category.displayName}"></option>
                        </select>
                    </div>
                    <div>
                        <label for="quantity">Quantity</label>
                        <input type="number" th:field="*{quantity}"/>
                        <label for="quantityType">Quantity Type</label>
                        <select th:field="*{quantityType}">
                            <option th:each="type : ${allQuantityTypes}" th:value="${type}" th:text="${type.displayName}"></option>
                        </select>
                    </div>
                    <div>
                        <button type="submit" name="save">Submit!</button>
                    </div>
                
                </fieldset>
            </form>
        </section>
        
    </main>
    
</body>
</html>