<!DOCTYPE html>
<html lang="en" dir="ltr">
<head th:include="~{layout :: head(~{::link},~{})}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/categories.css}">
    <link rel="stylesheet" th:href="@{/css/dialogs.css}">
</head>
<body th:replace="~{layout :: layout(~{::main},~{::script})}">
    <main>
        <section id="list" class="category-grid">
            <article class="category" th:each="category : ${productsByCategory}">
                <h2 th:text="#{${'category.title.' + category.key}}">VEGETABLES</h2>
                <ul>
                    <li class="category-item" th:each="product : ${category.value}">
                        <p class="item-name" th:text="${product.name}">Tomato</p>
                        <p class="item-quantity-type" th:text="${product.quantityType}">Kg</p>
                        <div>
                            <form method="post" th:action="@{/tenant/{tenantId}/products(tenantId=${tenant.id})}">
                                <input type="hidden" name="_method" value="delete">
                                <button name="id" th:value="${product.productId}" class="delete-button">×</button>
                            </form>
                        </div>
                    </li>
                </ul>
            </article>
        </section>
        <button id="add-product-button" class="big-add-button">+</button>
        <dialog id="add-product-dialog" class="form-layout half-screen-dialog">
            <header>
                <h2>New Product</h2>
                <button id="close-modal-button" class="close-button">X</button>
            </header>
            <form id="new-product-form" th:action="@{/tenant/{tenantId}/products(tenantId=${tenant.id})}" method="post">
                <div class="body">
                    <div class="field">
                        <label for="name">Name</label>
                        <input name="name" class="long-input" type="text" id="name">
                    </div>
                    <div class="field">
                        <label for="quantity">Quantity Type</label>
                        <select name="quantityType">
                            <option th:each="type : ${allQuantityTypes}" th:value="${type}" th:text="${type}">Kg</option>
                            <option th:remove="all">Unit</option>
                        </select>
                    </div>
                    <div class="field">
                        <label for="category" th:text="#{additem.label.category}">Category</label>
                        <select name="category" class="long-input">
                            <option th:each="category : ${allCategories}" th:value="${category}" th:text="${category}">Vegetables</option>
                            <option th:remove="all">Fruits</option>
                            <option th:remove="all">Dairy</option>
                        </select>
                    </div>
                </div>
                <div class="footer">
                    <p class="submit-button-container">
                        <button id="new-item-button" type="submit" name="save">Submit!</button>
                    </p>
                </div>
            </form>
        </dialog>
    </main>
    <script th:src="@{/js/products.js}"></script>
</body>
</html>