<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head th:include="~{layout :: head(~{::link},~{})}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../../css/base.css" th:href="@{/css/base.css}">
        <link rel="stylesheet" href="../../css/offline.css">
        <link rel="stylesheet" href="../../css/categories.css" th:href="@{/css/categories.css}">
        <link rel="stylesheet" href="../../css/dialogs.css" th:href="@{/css/dialogs.css}">
        <link rel="stylesheet" href="../../css/kebab-menus.css" th:href="@{/css/kebab-menus.css}">
        <link rel="stylesheet" href="../../css/products.css" th:href="@{/css/products.css}">
    </head>
    <body th:replace="~{layout :: layout(~{::main},~{::script})}">
        <div class="wrapper" th:remove="tag">

            <main>
                <div class="categories-scroll-container">
                    <section class="category-grid">
                        <article class="category" th:each="category : ${productsByCategory}">
                            <h2 th:text="#{${'category.title.' + category.key}}">VEGETABLES</h2>
                            <ul>
                                <li th:each="product : ${category.value}">
                                    <p class="item-name" th:text="${product.name}">Tomato</p>
                                    <p class="item-quantity-type" th:text="${product.quantityType}">Kg</p>
                                    <div class="kebab-menu js-kebab-menu">
                                        <button class="kebab-menu-button js-kebab-menu-button"> 
                                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#0000000"><path d="M480-160q-33 0-56.5-23.5T400-240q0-33 23.5-56.5T480-320q33 0 56.5 23.5T560-240q0 33-23.5 56.5T480-160Zm0-240q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm0-240q-33 0-56.5-23.5T400-720q0-33 23.5-56.5T480-800q33 0 56.5 23.5T560-720q0 33-23.5 56.5T480-640Z"/></svg>
                                        </button>
                                        <div class="kebab-menu-actions js-kebab-menu-actions">
                                            <form method="post" th:action="@{/tenant/{tenantId}/products(tenantId=${tenant.id})}">
                                                <input type="hidden" name="_method" value="delete">
        
                                                <button class="kebab-menu-item delete-button" name="id" th:value="${product.productId}">
                                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>
                                                    <span>Delete</span>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                                <li th:remove="all">
                                    <p class="item-name">Cucmber</p>
                                    <p class="item-quantity-type">Kg</p>
                                    <div class="kebab-menu js-kebab-menu">
                                        <button class="kebab-menu-button js-kebab-menu-button"> 
                                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#0000000"><path d="M480-160q-33 0-56.5-23.5T400-240q0-33 23.5-56.5T480-320q33 0 56.5 23.5T560-240q0 33-23.5 56.5T480-160Zm0-240q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm0-240q-33 0-56.5-23.5T400-720q0-33 23.5-56.5T480-800q33 0 56.5 23.5T560-720q0 33-23.5 56.5T480-640Z"/></svg>
                                        </button>
                                        <div class="kebab-menu-actions js-kebab-menu-actions">
                                            <form method="post">
                                                <input type="hidden" name="_method" value="delete">
        
                                                <button class="kebab-menu-item delete-button" name="id">
                                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>
                                                    <span>Delete</span>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </article>
                    </section>
                </div>
                <button class="primary-fab" data-open-dialog data-dialog-id="add-product-dialog">+</button>
                
                <dialog id="add-product-dialog" class="form-dialog js-form-dialog">
                    <header>
                        <div class="just-for-alignment"></div>
                        <h2>New Product</h2>
                        <button class="js-close-dialog-button close-dialog-button">&times;</button>
                    </header>
                    <form id="new-product-form">
                        <div class="dialog-error-banner">
                            <p>Oops, seems that something's wrong on our end</p>
                        </div>
                        <div class="form-dialog-body">
                            <div class="field">
                                <label for="name">Name</label>
                                <input name="name" class="long-input" type="text" />
                                <p class="field-validation-error"></p>
                            </div>
                            <div class="field">
                                <label for="category" th:text="#{additem.label.category}">Category</label>
                                <select name="category" class="long-input">
                                    <option th:each="category : ${allCategories}" th:value="${category}" th:text="${category}">Vegetables</option>
                                    <option th:remove="all">Fruits</option>
                                    <option th:remove="all">Dairy</option>
                                </select>
                                <p class="field-validation-error"></p>
                            </div>
                            <div class="field">
                                <label for="quantity">Quantity Type</label>
                                <select name="quantityType">
                                    <option th:each="type : ${allQuantityTypes}" th:value="${type}" th:text="${type}">Kg</option>
                                    <option th:remove="all">Unit</option>
                                </select>
                                <p class="field-validation-error"></p>
                            </div>
                            
                        </div>
                        <div class="form-dialog-footer">
                            <div class="dialog-footer-controls">
                                <button type="reset" class="js-close-dialog-button dialog-action-button dialog-secondary-action-button" name="cancel">Cancel</button>
                                <button id="dialog-submit-button" type="submit" name="save" class="dialog-primary-action-button dialog-action-button">Submit</button>
                            </div>
                        </div>
                    </form>
                </dialog>
            </main>
        </div>
        <script src="../../js/dialogs.js" th:src="@{/js/dialogs.js}"></script>
        <script src="../../js/kebab-menus.js" th:src="@{/js/kebab-menus.js}"></script>
        <script type="module" src="../../js/products.js" th:src="@{/js/products.js}"></script>
    </body>
</html>