<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head th:include="~{layout :: head(~{::link},~{})}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../../css/base.css" th:href="@{/css/base.css}">
        <link rel="stylesheet" href="../../css/offline.css">
        <link rel="stylesheet" href="../../css/categories.css" th:href="@{/css/categories.css}">
        <link rel="stylesheet" href="../../css/dialogs.css" th:href="@{/css/dialogs.css}">
        <link rel="stylesheet" href="../../css/products.css" th:href="@{/css/products.css}">
    </head>
    <body th:replace="~{layout :: layout(~{::main},~{::script})}">
        <div class="wrapper" th:remove="tag">

            <main>
                <section id="list" class="category-grid">
                    <article class="category" th:each="category : ${productsByCategory}">
                        <h2 th:text="#{${'category.title.' + category.key}}">VEGETABLES</h2>
                        <ul>
                            <li class="category-item" th:each="product : ${category.value}">
                                <p class="item-name" th:text="${product.name}">Tomato</p>
                                <p class="item-quantity-type" th:text="${product.quantityType}">Kg</p>
                                <div>
                                    <form method="post" th:action="@{/tenant/{tenantId}/products(tenantId=${tenant.id})}">
                                        <input type="hidden" name="_method" value="delete">
                                        <button name="id" th:value="${product.productId}" class="delete-button">×</button>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </article>
                </section>
                <button id="add-product-button" class="absolute-bottom-center big-add-button">+</button>
                
                <dialog id="add-product-dialog" class="dialog-layout dialog-layout">
                    <header>
                        <h2>New Product</h2>
                        <button class="close-modal-button top-corner-button">X</button>
                    </header>
                    <form id="new-product-form" th:action="@{/tenant/{tenantId}/products(tenantId=${tenant.id})}" th:object="${product}" method="post">
                        <div class="body">
                            <div class="field">
                                <label for="name">Name</label>
                                <input th:field="*{name}" class="long-input" type="text" th:classappend="${#fields.hasErrors('name')}? 'field-error'" />
                                <ul th:if="${#fields.hasErrors('name')}">
                                    <li th:each="err : ${#fields.errors('name')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                            </div>
                            <div class="field">
                                <label for="quantity">Quantity Type</label>
                                <select th:field="*{quantityType}" th:classappend="${#fields.hasErrors('quantityType')}? 'field-error'">
                                    <option th:each="type : ${allQuantityTypes}" th:value="${type}" th:text="${type}">Kg</option>
                                    <option th:remove="all">Unit</option>
                                </select>
                                <ul th:if="${#fields.hasErrors('quantityType')}">
                                    <li th:each="err : ${#fields.errors('quantityType')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                            </div>
                            <div class="field">
                                <label for="category" th:text="#{additem.label.category}">Category</label>
                                <select th:field="*{category}" class="long-input" th:classappend="${#fields.hasErrors('category')}? 'field-error'">
                                    <option th:each="category : ${allCategories}" th:value="${category}" th:text="${category}">Vegetables</option>
                                    <option th:remove="all">Fruits</option>
                                    <option th:remove="all">Dairy</option>
                                </select>
                                <ul th:if="${#fields.hasErrors('category')}">
                                    <li th:each="err : ${#fields.errors('category')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer">
                            <p class="submit-button-container">
                                <button id="new-item-button" type="submit" name="save">Submit!</button>
                            </p>
                        </div>
                    </form>
                </dialog>
            </main>
        </div>
        <script src="../../js/dialogs.js" th:src="@{/js/dialogs.js}"></script>
        <script src="../../js/products.js" th:src="@{/js/products.js}"></script>
    </body>
</html>